<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Vesperr one page site template with bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <!-- styles -->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="assets/css/prettyPhoto.css" rel="stylesheet" />
  <link href="assets/css/animate.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Roboto+Condensed:400,300,700" rel="stylesheet" />

  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="assets/color/default.css" rel="stylesheet" />

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.ico" />

  

  <!-- =======================================================
    Theme Name: Vesperr
    Theme URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
	======================================================= -->
</head>

<body>
  <header>
    <!-- start top -->
    <div id="topnav" class="navbar navbar-fixed-top default">
      <div class="navbar-inner">
        <div class="container">
          <div class="logo">
            <a href="/"><img src="assets/img/logo.png" alt="" /></a>
          </div>
          <div class="navigation">
            <nav>
              <ul class="nav pull-right">
                <li class="current"><a href="/" class="external">Home</a></li>
                <li><a href="/team" class="external">About</a></li>
                <li><a href="/#services">Services</a></li>
                <li><a href="/portfolio" class="external">Works</a></li>
                <li><a href="/#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#">TKU<i class="icon-angle-down"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tku/blog/blog.html" class="external">Blog</a></li>
                    <li><a href="/tku/loanCalc/loanCalc.html" class="external">Loan Calc</a></li>
                    <li><a href="/tku/ticTacToe/tictactoe.html" class="external">TicTacToe</a></li>
                    <li><a href="/tku/assignment/p4.html" class="external">Assignment</a></li>
                    <li><a href="/products" class="external">DB Products</a></li>
                    <li><a href="/team" class="external">DB Team</a></li>
                    <li><a href="/portfolio" class="external">DB Works</a></li>

                    <!-- <li><a href="components.html" class="external">Components</a></li>
                    <li><a href="icons.html" class="external">Icons</a></li>
                    <li><a href="animations.html" class="external">56 Animations</a></li> -->

                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <!-- end top -->
  </header>
  <!-- section intro -->
  <!-- <section id="intro">
    <div class="slogan">
      <div class="icon">
        <i class="icon-beaker icon-10x"></i>
      </div>
      <h1>Welcome to <span>Vesperr</span> creative studio</h1>
      <h2>Crafting ideas with technology and imagination</h2>
    </div>
  </section> -->
  <!-- end intro -->
  <!-- Section about -->
  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="heading">
            <h3><span>About us</span></h3>
          </div>
          <div class="sub-heading">
            <p>
              We have a history of doing what our name implies, creating a visual language around the beliefs of the brands we work with.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <% for(var i=0; i< data.length;i++){ %>
        <div class="span3">
          <img src="assets/img/dummies/<%= data[i].pic %>" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong><%= data[i].name %></strong></h5>
            <p>
                <%= data[i].title %>
            </p>
            <ul class="social-profile">
              <li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
            </ul>
          </div>
        </div>
        <% }%>
        <!-- <div class="span3">
          <img src="assets/img/dummies/team2.jpg" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong>Tommy Kreunichev</strong></h5>
            <p>
              Lead designer
            </p>
            <ul class="social-profile">
              <li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <img src="assets/img/dummies/team3.jpg" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong>Moriella Maccini</strong></h5>
            <p>
              Customer support
            </p>
            <ul class="social-profile">
              <li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="span3">
          <img src="assets/img/dummies/team4.jpg" alt="" class="img-polaroid" />
          <div class="roles">
            <h5><strong>Brian James Scoothie</strong></h5>
            <p>
              Coffee maker
            </p>
            <ul class="social-profile">
              <li><a href="#"><i class="icon-facebook icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-twitter icon-32 icon-circled"></i></a></li>
              <li><a href="#"><i class="icon-linkedin icon-32 icon-circled"></i></a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </section>
  <!-- end section about -->

  <footer>
    <div class="verybottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div class="logo">
                <a class="brand" href="index.html"><img src="assets/img/logo.png" alt="" /></a>
              </div>
              <p>
                &copy; Vesperr labs Inc - All right reserved
              </p>
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Vesperr
                -->
                Created by <a href="https://bootstrapmade.com/">BootstrapMade.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-48 active"></i></a>

  <!-- Javascript Library Files -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/parallax/jquery.parallax-1.1.3.js"></script>
  <script src="assets/js/nagging-menu.js"></script>
  <script src="assets/js/jquery.nav.js"></script>
  <script src="assets/js/prettyPhoto/jquery.prettyPhoto.js"></script>
  <script src="assets/js/portfolio/jquery.quicksand.js"></script>
  <script src="assets/js/portfolio/setting.js"></script>
  <script src="assets/js/hover/jquery-hover-effect.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script>
  <script src="assets/js/animate.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="assets/js/custom.js"></script>

</body>

</html>
