body  {
    background-color: black;
}

#container {
    width: 350px;
    background-color: gray;
    margin: 40px auto;
    padding-bottom: 20px;
}

#container h1 {
    text-align: center;
    color: white;
}

#container #board li {
    width: 70px;
    height: 70px;
    background-color: darkcyan;
    margin: 10px;
    margin-left: 17px;
    list-style: none;
    color: white;
    font-size: 55px;
    text-align: center;
    float: left;
    line-height: 70px;
}

#container .clearfix {
    clear: both;
}

#container footer {
    width: 310px;
    text-align: center;
    padding: 20px;
}

#container #reset {
    width: 70%;
    background-color: darkcyan;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
#container .o{
    color: green !important;
}
#container .x{
    color: red !important;
}